@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Mulish&display=swap");

:root {
  --bg-color: rgb(240, 248, 255);
  --comp-color-one: rgb(112, 128, 144);
  --comp-color-two: rgb(45, 56, 66);
  --comp-color-three: rgb(143, 131, 111);
}

body {
  background: linear-gradient(90deg, white, aliceblue);
  font-family: "Instrument Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 50%;
  height: 50%;
  /* border: 5px solid var(--comp-color-two); */
  border-radius: 10px;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1), 2px 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--comp-color-one);
}

.title {
  margin-left: auto;
  margin-right: 50px;
}

button {
  font-family: "Instrument Serif", serif;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--comp-color-two);
  color: white;
  padding: 5px 10px;
  width: 100px;
}

button:active {
  transform: translateY(1px);
}

.dropdown {
  margin-left: auto;
  text-align: center;
  display: inline-block;
  margin-right: 50px;
}

.myDropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: white;
  width: 100px;
}

.show {
  display: block;
}

h4 {
  margin: 0;
  cursor: pointer;
}

h4:hover {
  background-color: aliceblue;
}

.key-info {
  text-align: left;
  margin-right: auto;
  padding-left: 50px;
}

.notes {
  color: var(--comp-color-three);
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* .note-transition {
  opacity: 1;
} */

/* input {
  font-family: "Instrument Serif", serif;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
} */

.diagram img {
  height: 400px;
  width: 400px;
  padding: 50px 50px;
}

.img-info {
  display: none;
  margin-right: auto;
  width: 25%;
  height: 500px;
}

.text-info {
  display: none;
  margin-left: auto;
  width: 25%;
  height: 500px;
}
